:root {
  --primary-color: #070a29;
  --secondary-color: #a050aa;
  --shape-circle: radial-gradient(
    34.98% 34.98% at 50% 50%,
    #725bda 0,
    rgba(6, 19, 45, 0) 100%
  );
}

.home-image {
  position: relative;
  transform: rotate(-8deg);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 100px;
  animation: example 4s linear 2s infinite alternate;
}
.home-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  padding: 4;
  transform: rotate(-10deg);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 100px;
}
.dark .home-image::before {
  background: hsla(0, 0%, 100%, 0.1);
}
.dark .home-image {
  background: hsla(0, 0%, 0%, 0.1);
}
.moving-img {
  position: absolute;
  left: 0%;
  bottom: 20px;
  animation: moving-img 3s ease-in-out 2s infinite alternate;
}
.moving-img-2 {
  position: absolute;
  right: 10%;
  top: 80px;
  height: 90px;
  animation: moving-img-2 5s ease-in-out 2s infinite alternate;
}
.text-gradient {
  background: #a050aa;
  background: linear-gradient(to bottom, #a34bae 12%, #3db7dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-gradient {
  height: 2px;
  background: linear-gradient(to right, #a34bae 12%, #3db7dc 100%);
}
@keyframes example {
  0% {
    right: 0;
  }
  50% {
    right: 0;
  }
  100% {
    right: -5px;
  }
}
@keyframes moving-img {
  from {
    bottom: 20px;
  }
  to {
    bottom: 60px;
  }
}
@keyframes moving-img-2 {
  from {
    height: 90px;
    right: 10%;
  }
  to {
    height: 100px;
    right: 15%;
  }
}
