/* From Uiverse.io by Emil190313 */ 
.toggle-switch {
    /* background-color: rgb(154, 146, 146); */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: white 0px 0px 10px;
    line-height: 1;
  }
  
  .input-toggle {
    display: none;
  }
  
  .icon-toggle {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
  }
  
  .icon--moon {
    transition-delay: 200ms;
    color: rgb(255, 255, 255);
  }
  
  .icon--sun {
    transform: scale(0);
    color: yellow;
  }
  
  #switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
  }
  
  #switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
  }
  